{#
<ul>
    <li>
        <a href="{{ path('contact') }}"> contact</a>
        <a href="{{ path('contact', {'slug': 'dddd'}) }}"> contact</a>
        <a href="{{ path('blog_list') }}"> contact</a>
        <a href="{{ path('blog') }}"> contact</a>
        <a href="{{ path('blog_api') }}"> contact</a>

    </li>

</ul>#}
